.dropdown-wrapper {
  position: relative;
}

.dropdown-trigger {
  cursor: pointer;
}

.dropdown-box {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(77, 77, 77, 0.5);
  top: 50px;
  padding: 10px 0;
  min-width: 100%;
}

.dropdown-box-left {
  left: 0;
}

.dropdown-box-right {
  right: 0;
}

.dropdown-box .dropdown-item {
  font-size: 0.85em;
}